@font-face {
    font-family: 'cheeseburger';
    src: url(fonts/CheeseBurger.otf);
}

@font-face {
    font-family: 'mochiypopone';
    src: url(fonts/MochiyPopOne-Regular.ttf);
}

@font-face {
    font-family: 'rubik';
    src: url(fonts/Rubik.ttf);
}

html,body{
    background-color: indigo;
    width: 100%;
    height: 100%;
    margin: 0; /* Space from this element (entire page) and others*/
    padding: 0; /*space from content and border*/
    box-shadow: 10px 10px 1px rgb(54, 8, 87) inset, -10px -10px 1px 0 rgb(54, 8, 87) inset; 
}

font {
    color: white;
    font-family: Rubik;
}


.maincontent {
    width: 35%;
    height: 1%;
    margin: 15px;
    padding: 20px;
    border: 5px solid rgb(55, 15, 83);
    border-radius: 16px;
    background-color: rgb(95, 13, 153);
    box-shadow: 5px 5px 0px 5px rgb(54, 8, 87);
}

.image {
    size: 25%;
    width: 15%;
    height: 10%;
    margin: 15px;
    padding: 20px;
    border: 5px solid rgb(55, 15, 83);
    border-radius: 16px;
    background-color: rgb(95, 13, 153);
    box-shadow: 5px 5px 0px 5px rgb(54, 8, 87);
}


.kao {
    font-family: mochiypopone;
}